
NEXT_PUBLIC_CUSTOMER_SUPPORT_AGENT_URL="https://elevenlabs.io/app/talk-to?agent_id=agent_4301m1bspgrne5w9hbn2hhr09hqt&branch_id=agtbrch_7301m1bspj81ev385ftn7a6n2xy3"
NEXT_PUBLIC_PARTNER_APPLICATION_FORM_URL="https://giriraj-support.app.n8n.cloud/form/ec14de39-89d7-460e-af67-b402d2c127be"

NEXT_PUBLIC_FINANCE_SHEET_URL="https://docs.google.com/spreadsheets/d/1CLgRDq1AlxCbXEDeeeNlZQxTivrYyMg0KjFruAxVgnw/edit?gid=2072526099#gid=2072526099"

NEXT_PUBLIC_STATUS_PAGE_URL="https://docs.google.com/spreadsheets/d/1CLgRDq1AlxCbXEDeeeNlZQxTivrYyMg0KjFruAxVgnw/edit?gid=440342170#gid=440342170"

NEXT_PUBLIC_PORTAL_DATA_API_URL="https://giriraj-support.app.n8n.cloud/webhook/kitchenflow-portal-data"